@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth !important;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html,
body {
    background-color: black !important;
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.slide-in-bottom {
    animation-name: slide-in-bottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out-bottom {
    animation-name: slide-out-bottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes slide-out-bottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}